# Data Pre-Processing

In [1]:
# import relevant libaries 
import numpy as np 
import pandas as pd 

# Data Visualization
import seaborn as sns 
import matplotlib.pyplot as plt

In C:\Users\kored\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\kored\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\kored\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\kored\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\kored\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\kored\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\kored\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\kored\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
df = pd.read_csv("data/Gender_StatsData.csv")

df = df.loc[df['Indicator Name'].str.contains("female", case=False)]
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
11,Arab World,ARB,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.405678,20.97654,24.526016,28.636056,33.627633,37.399015,40.84965,42.814275,NaN,NaN
13,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,22.079350,NaN,NaN,25.635403,NaN,NaN,NaN,NaN
15,Arab World,ARB,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,84.118780,83.21839,83.344940,83.189960,83.820280,83.994780,84.25278,NaN,NaN,NaN
18,Arab World,ARB,"Age at first marriage, female",SP.DYN.SMAM.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Arab World,ARB,"Age population, age 0, female, interpolated",SP.POP.AG00.FE.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df['Indicator Name'].unique()

array(['Access to anti-retroviral drugs, female (%)',
       'Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)',
       'Adjusted net enrollment rate, primary, female (% of primary school age children)',
       'Age at first marriage, female',
       'Age population, age 0, female, interpolated',
       'Age population, age 01, female, interpolated',
       'Age population, age 02, female, interpolated',
       'Age population, age 03, female, interpolated',
       'Age population, age 04, female, interpolated',
       'Age population, age 05, female, interpolated',
       'Cause of death, by communicable diseases, ages 15-34, female (% of relevant age group)',
       'Cause of death, by communicable diseases, ages 35-59, female (% of relevant age group)',
       'Cause of death, by injury, ages 15-34, female  (% of relevant age group)',
       'Cause of death, by injury, ages 35-59, female (% of relevant age group)',
       'Cause of death, by non-communicable diseases, ages 15-34, female (% of relevant age group)',
       'Cause of death, by non-communicable diseases, ages 35-59, female (% of relevant age group)',
       'Children in employment, female (% of female children ages 7-14)',
       'Children out of school, primary, female',
       'Completeness of birth registration, female (%)',
       'Contributing family workers, female (% of female employment) (modeled ILO estimate)',
       'Cost of business start-up procedures, female (% of GNI per capita)',
       "Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)",
       'Educational attainment, at least completed lower secondary, population 25+, female (%) (cumulative)',
       'Educational attainment, at least completed post-secondary, population 25+, female (%) (cumulative)',
       'Educational attainment, at least completed primary, population 25+ years, female (%) (cumulative)',
       'Educational attainment, at least completed short-cycle tertiary, population 25+, female (%) (cumulative)',
       'Educational attainment, at least completed upper secondary, population 25+, female (%) (cumulative)',
       "Educational attainment, at least Master's or equivalent, population 25+, female (%) (cumulative)",
       'Educational attainment, Doctoral or equivalent, population 25+, female (%) (cumulative)',
       'Employers, female (% of female employment) (modeled ILO estimate)',
       'Employment in agriculture, female (% of female employment) (modeled ILO estimate)',
       'Employment in industry, female (% of female employment) (modeled ILO estimate)',
       'Employment in services, female (% of female employment) (modeled ILO estimate)',
       'Employment to population ratio, 15+, female (%) (modeled ILO estimate)',
       'Employment to population ratio, 15+, female (%) (national estimate)',
       'Employment to population ratio, ages 15-24, female (%) (modeled ILO estimate)',
       'Employment to population ratio, ages 15-24, female (%) (national estimate)',
       'Expected Years of School, Female',
       'Expected years of schooling, female',
       'Female and male surviving spouses have equal rights to inherit assets (1=yes; 0=no)',
       'Female genital mutilation prevalence (%)',
       'Female genital mutilation prevalence (%): Q1 (lowest)',
       'Female genital mutilation prevalence (%): Q2',
       'Female genital mutilation prevalence (%): Q3',
       'Female genital mutilation prevalence (%): Q4',
       'Female genital mutilation prevalence (%): Q5 (highest)',
       'Female headed households (% of households with a female head)',
       'Female migrants (% of international migrant stock)',
       'Female primary school age children out-of-school (%)',
       'Female professional and technical workers (% of total)',
       'Female pupils below minimum reading proficiency at end of primary (%). Low GAML threshold',
       'Female share of employment in senior and middle management (%)',
       'Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)',
       'Female share of graduates in Agriculture programmes, tertiary (%)',
       'Female share of graduates in Education programmes, tertiary (%)',
       'Female share of graduates in Engineering, Manufacturing and Construction programmes, tertiary (%)',
       'Female share of graduates in from Business, Administration and Law programmes, tertiary (%)',
       'Female share of graduates in Health and Welfare programmes, tertiary (%)',
       'Female share of graduates in Humanities and Arts programmes, tertiary (%)',
       'Female share of graduates in Information and Communication Technologies programmes, tertiary (%)',
       'Female share of graduates in other fields than Science, Technology, Engineering and Mathematics programmes, tertiary (%)',
       'Female share of graduates in Science programmes, tertiary (%)',
       'Female share of graduates in Services programmes, tertiary (%)',
       'Female share of graduates in Social Science, Business and Law programmes, tertiary (%)',
       'Female share of graduates in unknown or unspecified fields, tertiary (%)',
       'Financial institution account,female(% age 15+)',
       'Firms with female participation in ownership (% of firms)',
       'Firms with female top manager (% of firms)',
       'Fraction of Children Under 5 Not Stunted, Female',
       'Gross graduation ratio, primary, female (%)',
       'Gross graduation ratio, tertiary, female (%)',
       'Harmonized Test Scores, Female',
       'Human Capital Index (HCI), Female (scale 0-1)',
       'Human Capital Index (HCI), Female, Lower Bound (scale 0-1)',
       'Human Capital Index (HCI), Female, Upper Bound (scale 0-1)',
       'Incidence of HIV, ages 15-24, female (per 1,000 uninfected female population ages 15-24)',
       'Incidence of HIV, ages 15-49, female (per 1,000 uninfected female population ages 15-49)',
       'Informal employment, female (% of total non-agricultural employment)',
       'Labor force participation rate for ages 15-24, female (%) (modeled ILO estimate)',
       'Labor force participation rate for ages 15-24, female (%) (national estimate)',
       'Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)',
       'Labor force participation rate, female (% of female population ages 15+) (national estimate)',
       'Labor force participation rate, female (% of female population ages 15-64) (modeled ILO estimate)',
       'Labor force with advanced education, female (% of female working-age population with advanced education)',
       'Labor force with basic education, female (% of female working-age population with basic education)',
       'Labor force with intermediate education, female (% of female working-age population with intermediate education)',
       'Labor force, female',
       'Labor force, female (% of total labor force)',
       'Law mandates equal remuneration for females and males for work of equal value (1=yes; 0=no)',
       'Learning poverty: Share of Female Children at the End-of-Primary age below minimum reading proficiency adjusted by Out-of-School Children (%)',
       'Learning-Adjusted Years of School, Female',
       'Life expectancy at age 60, female (years)',
       'Life expectancy at birth, female (years)',
       'Literacy rate, adult female (% of females ages 15 and above)',
       'Literacy rate, youth female (% of females ages 15-24)',
       'Lower secondary completion rate, female (% of relevant age group)',
       'Mandatory retirement age, female',
       'Mobile money account, female (% age 15+)',
       'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70, female (%)',
       'Mortality rate attributed to household and ambient air pollution, age-standardized, female (per 100,000 female population)',
       'Mortality rate attributed to unintentional poisoning, female (per 100,000 female population)',
       'Mortality rate, infant, female (per 1,000 live births)',
       'Mortality rate, under-5, female (per 1,000 live births)',
       'Net intake rate in grade 1, female (% of official school-age population)',
       'Number of female business owners', 'Number of female directors',
       'Number of female sole proprietors',
       'Number of infant deaths, female',
       'Number of under-five deaths, female',
       'Own-account workers, female (% of female employment) (modeled ILO estimate)',
       'Part time employment, female (% of total part time employment)',
       'Percentage of students in lower secondary vocational education who are female (%)',
       'Percentage of students in post-secondary non-tertiary vocational education who are female (%)',
       'Percentage of students in upper secondary vocational education who are female (%)',
       'Persistence to grade 5, female (% of cohort)',
       'Population ages 0-14, female', 'Population ages 15-64, female',
       'Population ages 65 and above, female', 'Population, female',
       'Population, female (% of total)',
       'Prevalence of HIV, female (% ages 15-24)',
       'Prevalence of obesity, female (% of female population ages 18+)',
       'Prevalence of overweight, female (% of female adults)',
       'Prevalence of overweight, weight for height, female (% of children under 5)',
       'Prevalence of severe wasting, weight for height, female (% of children under 5)',
       'Prevalence of stunting, height for age, female (% of children under 5)',
       'Prevalence of underweight, weight for age, female (% of children under 5)',
       'Prevalence of wasting, weight for height, female (% of children under 5)',
       'Primary completion rate, female (% of relevant age group)',
       'Primary education, pupils (% female)',
       'Primary education, teachers (% female)',
       'Probability of Survival to Age 5, Female',
       'Progression to secondary school, female (%)',
       'Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)',
       'Rate of out-of-school youth of upper secondary school age, female (%)',
       'Ratio of female to male labor force participation rate (%) (modeled ILO estimate)',
       'Ratio of female to male labor force participation rate (%) (national estimate)',
       'Ratio of female to male youth unemployment rate (% ages 15-24) (modeled ILO estimate)',
       'Ratio of female to male youth unemployment rate (%) (national estimate)',
       'Retirement age with full benefits, female',
       'Retirement age with partial benefits, female',
       'Rural population, female (% of total)',
       'Saved any money in the past year, female  (% age 15+)',
       'School enrollment, primary, female (% gross)',
       'School enrollment, primary, female (% net)',
       'School enrollment, secondary, female (% gross)',
       'School enrollment, secondary, female (% net)',
       'School enrollment, tertiary, female (% gross)',
       'Secondary education, pupils (% female)',
       'Secondary education, teachers (% female)',
       'Secondary education, vocational pupils (% female)',
       'Self-employed, female (% of female employment) (modeled ILO estimate)',
       'Sex ratio at birth (male births per female births)',
       'Share of female business owners (% of total business owners)',
       'Share of female directors (% of total directors)',
       'Share of female sole proprietors  (% of sole proprietors)',
       'Share of female students in lower secondary education enrolled in vocational programmes (%)',
       'Share of female students in post-secondary non-tertiary education enrolled in vocational programmes (%)',
       'Share of female students in upper secondary education enrolled in vocational programmes (%)',
       'Share of youth not in education, employment or training, female (% of female youth population)',
       'Smoking prevalence, females (% of adults)',
       'Start-up procedures to register a business, female (number)',
       'Suicide mortality rate, female (per 100,000 female population)',
       'Survival Rate from Age 15-60, Female',
       'Tertiary education, academic staff (% female)',
       'Time required to start a business, female (days)',
       'Time-related underemployment, female (% of employment)',
       'Total alcohol consumption per capita, female (liters of pure alcohol, projected estimates, female 15+ years of age)',
       'Unemployment with advanced education, female (% of female labor force with advanced education)',
       'Unemployment with basic education, female (% of female labor force with basic education)',
       'Unemployment with intermediate education, female (% of female labor force with intermediate education)',
       'Unemployment, female (% of female labor force) (modeled ILO estimate)',
       'Unemployment, female (% of female labor force) (national estimate)',
       'Unemployment, youth female (% of female labor force ages 15-24) (modeled ILO estimate)',
       'Unemployment, youth female (% of female labor force ages 15-24) (national estimate)',
       'Urban population, female (% of total)',
       'Vulnerable employment, female (% of female employment) (modeled ILO estimate)',
       'Wage and salaried workers, female (% of female employment) (modeled ILO estimate)',
       'Youth illiterate population, 15-24 years, % female',
       'Youth illiterate population, 15-24 years, female (number)'],
      dtype=object)

- Access to anti-retroviral drugs, female (%)',
- 'Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)',
- 'Adjusted net enrollment rate, primary, female (% of primary school age children)',
- 'Age at first marriage, female',
- 'Age population, age 0, female, interpolated',
- 'Age population, age 01, female, interpolated',
- 'Age population, age 02, female, interpolated',
- 'Age population, age 03, female, interpolated',
- 'Age population, age 04, female, interpolated',
- 'Age population, age 05, female, interpolated',
- 'Cause of death, by communicable diseases, ages 15-34, female (% of relevant age group)',
- 'Cause of death, by communicable diseases, ages 35-59, female (% of relevant age group)',
- 'Cause of death, by injury, ages 15-34, female  (% of relevant age group)',
- 'Cause of death, by injury, ages 35-59, female (% of relevant age group)',
       'Cause of death, by non-communicable diseases, ages 15-34, female (% of relevant age group)',
       'Cause of death, by non-communicable diseases, ages 35-59, female (% of relevant age group)',
       'Children in employment, female (% of female children ages 7-14)',
       'Children out of school, primary, female',
       'Completeness of birth registration, female (%)',
       'Contributing family workers, female (% of female employment) (modeled ILO estimate)',
       'Cost of business start-up procedures, female (% of GNI per capita)',
       "Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)",
       'Educational attainment, at least completed lower secondary, population 25+, female (%) (cumulative)',
       'Educational attainment, at least completed post-secondary, population 25+, female (%) (cumulative)',
       'Educational attainment, at least completed primary, population 25+ years, female (%) (cumulative)',
       'Educational attainment, at least completed short-cycle tertiary, population 25+, female (%) (cumulative)',
       'Educational attainment, at least completed upper secondary, population 25+, female (%) (cumulative)',
       "Educational attainment, at least Master's or equivalent, population 25+, female (%) (cumulative)",
       'Educational attainment, Doctoral or equivalent, population 25+, female (%) (cumulative)',
       'Employers, female (% of female employment) (modeled ILO estimate)',
       'Employment in agriculture, female (% of female employment) (modeled ILO estimate)',
       'Employment in industry, female (% of female employment) (modeled ILO estimate)',
       'Employment in services, female (% of female employment) (modeled ILO estimate)',
       'Employment to population ratio, 15+, female (%) (modeled ILO estimate)',
       'Employment to population ratio, 15+, female (%) (national estimate)',
       'Employment to population ratio, ages 15-24, female (%) (modeled ILO estimate)',
       'Employment to population ratio, ages 15-24, female (%) (national estimate)',
       'Expected Years of School, Female',
       'Expected years of schooling, female',
       'Female and male surviving spouses have equal rights to inherit assets (1=yes; 0=no)',
       'Female genital mutilation prevalence (%)',
       'Female genital mutilation prevalence (%): Q1 (lowest)',
       'Female genital mutilation prevalence (%): Q2',
       'Female genital mutilation prevalence (%): Q3',
       'Female genital mutilation prevalence (%): Q4',
       'Female genital mutilation prevalence (%): Q5 (highest)',
       'Female headed households (% of households with a female head)',
       'Female migrants (% of international migrant stock)',
       'Female primary school age children out-of-school (%)',
       'Female professional and technical workers (% of total)',
       'Female pupils below minimum reading proficiency at end of primary (%). Low GAML threshold',
       'Female share of employment in senior and middle management (%)',
       'Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)',
       'Female share of graduates in Agriculture programmes, tertiary (%)',
       'Female share of graduates in Education programmes, tertiary (%)',
       'Female share of graduates in Engineering, Manufacturing and Construction programmes, tertiary (%)',
       'Female share of graduates in from Business, Administration and Law programmes, tertiary (%)',
       'Female share of graduates in Health and Welfare programmes, tertiary (%)',
       'Female share of graduates in Humanities and Arts programmes, tertiary (%)',
       'Female share of graduates in Information and Communication Technologies programmes, tertiary (%)',
       'Female share of graduates in other fields than Science, Technology, Engineering and Mathematics programmes, tertiary (%)',
       'Female share of graduates in Science programmes, tertiary (%)',
       'Female share of graduates in Services programmes, tertiary (%)',
       'Female share of graduates in Social Science, Business and Law programmes, tertiary (%)',
       'Female share of graduates in unknown or unspecified fields, tertiary (%)',
       'Financial institution account,female(% age 15+)',
       'Firms with female participation in ownership (% of firms)',
       'Firms with female top manager (% of firms)',
       'Fraction of Children Under 5 Not Stunted, Female',
       'Gross graduation ratio, primary, female (%)',
       'Gross graduation ratio, tertiary, female (%)',
       'Harmonized Test Scores, Female',
       'Human Capital Index (HCI), Female (scale 0-1)',
       'Human Capital Index (HCI), Female, Lower Bound (scale 0-1)',
       'Human Capital Index (HCI), Female, Upper Bound (scale 0-1)',
       'Incidence of HIV, ages 15-24, female (per 1,000 uninfected female population ages 15-24)',
       'Incidence of HIV, ages 15-49, female (per 1,000 uninfected female population ages 15-49)',
       'Informal employment, female (% of total non-agricultural employment)',
       'Labor force participation rate for ages 15-24, female (%) (modeled ILO estimate)',
       'Labor force participation rate for ages 15-24, female (%) (national estimate)',
       'Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)',
       'Labor force participation rate, female (% of female population ages 15+) (national estimate)',
       'Labor force participation rate, female (% of female population ages 15-64) (modeled ILO estimate)',
       'Labor force with advanced education, female (% of female working-age population with advanced education)',
       'Labor force with basic education, female (% of female working-age population with basic education)',
       'Labor force with intermediate education, female (% of female working-age population with intermediate education)',
       'Labor force, female',
       'Labor force, female (% of total labor force)',
       'Law mandates equal remuneration for females and males for work of equal value (1=yes; 0=no)',
       'Learning poverty: Share of Female Children at the End-of-Primary age below minimum reading proficiency adjusted by Out-of-School Children (%)',
       'Learning-Adjusted Years of School, Female',
       'Life expectancy at age 60, female (years)',
       'Life expectancy at birth, female (years)',
       'Literacy rate, adult female (% of females ages 15 and above)',
       'Literacy rate, youth female (% of females ages 15-24)',
       'Lower secondary completion rate, female (% of relevant age group)',
       'Mandatory retirement age, female',
       'Mobile money account, female (% age 15+)',
       'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70, female (%)',
       'Mortality rate attributed to household and ambient air pollution, age-standardized, female (per 100,000 female population)',
       'Mortality rate attributed to unintentional poisoning, female (per 100,000 female population)',
       'Mortality rate, infant, female (per 1,000 live births)',
       'Mortality rate, under-5, female (per 1,000 live births)',
       'Net intake rate in grade 1, female (% of official school-age population)',
       'Number of female business owners', 'Number of female directors',
       'Number of female sole proprietors',
       'Number of infant deaths, female',
       'Number of under-five deaths, female',
       'Own-account workers, female (% of female employment) (modeled ILO estimate)',
       'Part time employment, female (% of total part time employment)',
       'Percentage of students in lower secondary vocational education who are female (%)',
       'Percentage of students in post-secondary non-tertiary vocational education who are female (%)',
       'Percentage of students in upper secondary vocational education who are female (%)',
       'Persistence to grade 5, female (% of cohort)',
       'Population ages 0-14, female', 'Population ages 15-64, female',
       'Population ages 65 and above, female', 'Population, female',
       'Population, female (% of total)',
       'Prevalence of HIV, female (% ages 15-24)',
       'Prevalence of obesity, female (% of female population ages 18+)',
       'Prevalence of overweight, female (% of female adults)',
       'Prevalence of overweight, weight for height, female (% of children under 5)',
       'Prevalence of severe wasting, weight for height, female (% of children under 5)',
       'Prevalence of stunting, height for age, female (% of children under 5)',
       'Prevalence of underweight, weight for age, female (% of children under 5)',
       'Prevalence of wasting, weight for height, female (% of children under 5)',
       'Primary completion rate, female (% of relevant age group)',
       'Primary education, pupils (% female)',
       'Primary education, teachers (% female)',
       'Probability of Survival to Age 5, Female',
       'Progression to secondary school, female (%)',
       'Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)',
       'Rate of out-of-school youth of upper secondary school age, female (%)',
       'Ratio of female to male labor force participation rate (%) (modeled ILO estimate)',
       'Ratio of female to male labor force participation rate (%) (national estimate)',
       'Ratio of female to male youth unemployment rate (% ages 15-24) (modeled ILO estimate)',
       'Ratio of female to male youth unemployment rate (%) (national estimate)',
       'Retirement age with full benefits, female',
       'Retirement age with partial benefits, female',
       'Rural population, female (% of total)',
       'Saved any money in the past year, female  (% age 15+)',
       'School enrollment, primary, female (% gross)',
       'School enrollment, primary, female (% net)',
       'School enrollment, secondary, female (% gross)',
       'School enrollment, secondary, female (% net)',
       'School enrollment, tertiary, female (% gross)',
       'Secondary education, pupils (% female)',
       'Secondary education, teachers (% female)',
       'Secondary education, vocational pupils (% female)',
       'Self-employed, female (% of female employment) (modeled ILO estimate)',
       'Sex ratio at birth (male births per female births)',
       'Share of female business owners (% of total business owners)',
       'Share of female directors (% of total directors)',
       'Share of female sole proprietors  (% of sole proprietors)',
       'Share of female students in lower secondary education enrolled in vocational programmes (%)',
       'Share of female students in post-secondary non-tertiary education enrolled in vocational programmes (%)',
       'Share of female students in upper secondary education enrolled in vocational programmes (%)',
       'Share of youth not in education, employment or training, female (% of female youth population)',
       'Smoking prevalence, females (% of adults)',
       'Start-up procedures to register a business, female (number)',
       'Suicide mortality rate, female (per 100,000 female population)',
       'Survival Rate from Age 15-60, Female',
       'Tertiary education, academic staff (% female)',
       'Time required to start a business, female (days)',
- 'Time-related underemployment, female (% of employment)',
- 'Total alcohol consumption per capita, female (liters of pure alcohol, projected estimates, female 15+ years of age)',
- 'Unemployment with advanced education, female (% of female labor force with advanced education)',
- 'Unemployment with basic education, female (% of female labor force with basic education)',
- 'Unemployment with intermediate education, female (% of female labor force with intermediate education)',
- 'Unemployment, female (% of female labor force) (modeled ILO estimate)',
- 'Unemployment, female (% of female labor force) (national estimate)',
- 'Unemployment, youth female (% of female labor force ages 15-24) (modeled ILO estimate)',
- 'Unemployment, youth female (% of female labor force ages 15-24) (national estimate)',
- 'Urban population, female (% of total)',
- 'Vulnerable employment, female (% of female employment) (modeled ILO estimate)',
- 'Wage and salaried workers, female (% of female employment) (modeled ILO estimate)',
- 'Youth illiterate population, 15-24 years, % female',
- 'Youth illiterate population, 15-24 years, female (number)']

## STEM

In [4]:
stem = df[df['Indicator Code']=='UIS.FGP.5T8.F600']
stem.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
138,Arab World,ARB,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
762,Caribbean small states,CSS,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1386,Central Europe and the Baltics,CEB,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010,Early-demographic dividend,EAR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2634,East Asia & Pacific,EAS,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
stem.isna().any().sum()

62

In [6]:
# stem.isna().sum()

In [7]:
# stem.reset_index(inplace = True)

In [8]:
stem.shape

(263, 66)

In [9]:
stem.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 65'],
      dtype='object')

In [10]:
stem.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
138,Arab World,ARB,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
762,Caribbean small states,CSS,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1386,Central Europe and the Baltics,CEB,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010,Early-demographic dividend,EAR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2634,East Asia & Pacific,EAS,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# stem['Unnamed: 65'].isna().sum()

In [12]:
stem.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 65'],
      dtype='object')

In [13]:
stem.isna().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              263
1961              263
1962              263
1963              263
1964              263
1965              263
1966              263
1967              263
1968              263
1969              263
1970              263
1971              263
1972              263
1973              263
1974              263
1975              263
1976              263
1977              263
1978              263
1979              263
1980              263
1981              263
1982              263
1983              263
1984              263
1985              263
                 ...
1992              263
1993              263
1994              263
1995              263
1996              263
1997              263
1998              257
1999              229
2000              221
2001              221
2002              218
2003              217
2004              214
2005              216
2006              220
2007              207
2008              205
2009              205
2010              203
2011              201
2012              202
2013              226
2014              212
2015              172
2016              172
2017              182
2018              219
2019              261
2020              263
Unnamed: 65       263
Length: 66, dtype: int64

In [14]:
cols = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
        '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018']

In [15]:
stem = stem[cols]

In [16]:
stem.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1999,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
138,Arab World,ARB,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
762,Caribbean small states,CSS,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1386,Central Europe and the Baltics,CEB,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010,Early-demographic dividend,EAR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2634,East Asia & Pacific,EAS,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
stem.isna().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1999              229
2000              221
2001              221
2002              218
2003              217
2004              214
2005              216
2006              220
2007              207
2008              205
2009              205
2010              203
2011              201
2012              202
2013              226
2014              212
2015              172
2016              172
2017              182
2018              219
dtype: int64

In [18]:
stem['Country Name'].unique()

# country name not in 
exclude_countries = ['Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & Caribbean (IDA & IBRD)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD)', 'Middle income',
       'North America', 'OECD members', 'Other small states',
       'Pacific island small states', 'Post-demographic dividend',
       'Pre-demographic dividend', 'Small states', 'South Asia',
       'South Asia (IDA & IBRD)', 'Sub-Saharan Africa',
       'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD)', 'Upper middle income', 'World']

In [19]:
# stem = stem.dropna(thresh=19*0.5, axis = 'rows')
stem = stem[~stem['Country Name'].isin(exclude_countries)]

In [20]:
stem

,Country Name,Country Code,Indicator Name,Indicator Code,1999,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
28842,Afghanistan,AFG,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29466,Albania,ALB,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,45.45455,NaN,NaN,67.85714,NaN,...,NaN,NaN,46.09375,NaN,NaN,NaN,49.20728,46.77419,46.48218,43.70690
30090,Algeria,DZA,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,47.20217,48.80532,47.97473,NaN,NaN,NaN,51.76786,54.27659,NaN,48.93372
30714,American Samoa,ASM,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31338,Andorra,AND,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,30.00000,23.52941,11.76471,...,NaN,NaN,NaN,33.33333,NaN,NaN,NaN,100.00000,100.00000,0.00000
31962,Angola,AGO,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,100.00000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,37.95987,NaN,NaN,NaN
32586,Antigua and Barbuda,ATG,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,34.21053,70.58824,73.33333,33.33333,NaN,NaN,NaN,NaN,NaN,NaN
33210,Argentina,ARG,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,37.01054,33.04348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33834,Armenia,ARM,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,35.86066,NaN,NaN,NaN,NaN,25.14045,28.97436,30.58824,38.47167
34458,Aruba,ABW,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35082,Australia,AUS,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,25.42334,NaN,26.00037,26.10591,NaN,...,18.75755,NaN,19.10183,NaN,19.35603,19.07006,19.14908,NaN,21.75496,NaN
35706,Austria,AUT,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13.15350,14.06318,13.65430,14.29883,NaN,NaN
36330,Azerbaijan,AZE,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,36.41536,38.35616,37.66667,36.81592,NaN,NaN,35.34816,41.11718,46.81107,45.96774
36954,"Bahamas, The",BHS,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37578,Bahrain,BHR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,69.29134,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.88889,50.68120,47.76119,47.13805
38202,Bangladesh,BGD,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,13.57285,15.05065,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.76188,27.76188,27.25023
38826,Barbados,BRB,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,40.54054,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39450,Belarus,BLR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,24.20359,22.20681,23.92789,23.03968
40074,Belgium,BEL,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,12.00215,14.21882,11.48240,NaN,NaN,...,5.64558,8.74867,8.02810,8.05897,6.79766,7.34463,7.81123,5.63075,9.87884,NaN
40698,Belize,BLZ,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19.44444,NaN,NaN,NaN
41322,Benin,BEN,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,22.79202,NaN,NaN,18.51852,55.06884,NaN,NaN,NaN
41946,Bermuda,BMU,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,33.33333,NaN,NaN,NaN,...,45.45455,33.33333,40.00000,66.66667,NaN,NaN,28.57143,NaN,9.09091,33.33333
42570,Bhutan,BTN,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43194,Bolivia,BOL,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43818,Bosnia and Herzegovina,BIH,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27.68000,18.05556,27.04225,28.17824
44442,Botswana,BWA,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45066,Brazil,BRA,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,32.10390,28.74314,26.68425,24.18797,...,18.39748,18.25965,16.97174,17.33484,NaN,15.29114,15.01138,14.62630,14.55104,NaN
45690,British Virgin Islands,VGB,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,63.63636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46314,Brunei Darussalam,BRN,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,62.96296,71.05263,65.62500,NaN,72.72727,44.44444,...,58.06452,53.62319,87.50000,54.25532,NaN,NaN,44.01806,45.79208,NaN,41.86047
46938,Bulgaria,BGR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,61.33005,69.51788,60.03236,46.89507,51.21951,51.91313,...,45.00434,40.66952,39.72780,39.04110,41.35021,37.90738,39.03935,40.04616,38.74001,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145530,Sweden,SWE,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,34.26160,44.74560,40.71534,41.90519,40.16288,35.28148,...,21.92982,18.80492,20.20563,26.06405,25.64412,NaN,27.84627,28.17433,30.23847,NaN
146154,Switzerland,CHE,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,14.17937,16.60527,13.80229,14.16208,11.42857,11.58168,...,12.75000,12.33739,9.35738,NaN,8.24689,10.04098,11.18710,8.86076,9.93166,NaN
146778,Syrian Arab Republic,SYR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.31293,NaN,NaN
147402,Tajikistan,TJK,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148026,Tanzania,TZA,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148650,Thailand,THA,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,50.55515,47.85432,NaN,NaN
149274,Timor-Leste,TLS,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149898,Togo,TGO,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150522,Tonga,TON,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151146,Trinidad and Tobago,TTO,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151770,Tunisia,TUN,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,46.50835,NaN,NaN,54.09677,55.46661,NaN,55.64061
152394,Turkey,TUR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.29260,28.71820,28.04650,30.12178,31.48220,35.96116,...,33.09694,33.15971,33.02768,33.44319,NaN,34.46043,NaN,NaN,NaN,NaN
153018,Turkmenistan,TKM,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153642,Turks and Caicos Islands,TCA,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154266,Tuvalu,TUV,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154890,Uganda,UGA,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,16.66667,16.66667,NaN,NaN,NaN,30.09709,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155514,Ukraine,UKR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,24.13819,NaN,NaN,20.77291,19.96523,19.31067,17.46342
156138,United Arab Emirates,ARE,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,53.64742,61.14263,NaN,NaN,50.55762,57.78230,55.39084,NaN
156762,United Kingdom,GBR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,27.28140,24.60701,25.44204,25.75240,25.30157,24.56532,...,19.39414,18.66546,18.74867,18.79531,19.24576,18.80898,19.27337,19.38466,NaN,NaN
157386,United States,USA,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,22.10311,21.63908,21.26469,20.93191,21.00502,22.86417,23.60926,NaN,NaN
158010,Uruguay,URY,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,25.76923,23.20000,NaN,NaN,NaN,NaN,NaN,NaN,17.65799,NaN
158634,Uzbekistan,UZB,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.83377
159258,Vanuatu,VUT,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159882,"Venezuela, RB",VEN,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,53.54308,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160506,Vietnam,VNM,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.22154,26.43116,NaN,NaN
161130,Virgin Islands (U.S.),VIR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161754,West Bank and Gaza,PSE,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,47.55556,52.28519,52.67974,NaN,46.79089,53.71179,...,43.39414,46.62857,45.95032,48.27586,NaN,NaN,49.19691,49.95206,48.29083,45.60738
162378,"Yemen, Rep.",YEM,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163002,Zambia,ZMB,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163626,Zimbabwe,ZWE,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,47.12154,33.35890,31.92593,NaN,NaN,46.11547,NaN,NaN,NaN

In [21]:
stem.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018'],
      dtype='object')

In [22]:
stem.isna().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1999              183
2000              175
2001              175
2002              172
2003              171
2004              168
2005              170
2006              174
2007              161
2008              159
2009              159
2010              157
2011              155
2012              156
2013              180
2014              166
2015              126
2016              126
2017              136
2018              173
dtype: int64

In [23]:
stem.shape

(217, 24)

In [24]:
stem = stem.fillna(method = 'ffill', axis = 0)

In [25]:
stem

,Country Name,Country Code,Indicator Name,Indicator Code,1999,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
28842,Afghanistan,AFG,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29466,Albania,ALB,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,45.45455,NaN,NaN,67.85714,NaN,...,NaN,NaN,46.09375,NaN,NaN,NaN,49.20728,46.77419,46.48218,43.70690
30090,Algeria,DZA,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,45.45455,NaN,NaN,67.85714,NaN,...,47.20217,48.80532,47.97473,NaN,NaN,NaN,51.76786,54.27659,46.48218,48.93372
30714,American Samoa,ASM,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,45.45455,NaN,NaN,67.85714,NaN,...,47.20217,48.80532,47.97473,NaN,NaN,NaN,51.76786,54.27659,46.48218,48.93372
31338,Andorra,AND,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,45.45455,NaN,30.00000,23.52941,11.76471,...,47.20217,48.80532,47.97473,33.33333,NaN,NaN,51.76786,100.00000,100.00000,0.00000
31962,Angola,AGO,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,45.45455,NaN,100.00000,23.52941,11.76471,...,47.20217,48.80532,47.97473,33.33333,NaN,NaN,37.95987,100.00000,100.00000,0.00000
32586,Antigua and Barbuda,ATG,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,45.45455,NaN,100.00000,23.52941,11.76471,...,34.21053,70.58824,73.33333,33.33333,NaN,NaN,37.95987,100.00000,100.00000,0.00000
33210,Argentina,ARG,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,45.45455,NaN,100.00000,23.52941,11.76471,...,37.01054,33.04348,73.33333,33.33333,NaN,NaN,37.95987,100.00000,100.00000,0.00000
33834,Armenia,ARM,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,45.45455,NaN,100.00000,23.52941,11.76471,...,37.01054,35.86066,73.33333,33.33333,NaN,NaN,25.14045,28.97436,30.58824,38.47167
34458,Aruba,ABW,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,45.45455,NaN,100.00000,23.52941,11.76471,...,37.01054,35.86066,73.33333,33.33333,NaN,NaN,25.14045,28.97436,30.58824,38.47167
35082,Australia,AUS,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,25.42334,NaN,26.00037,26.10591,11.76471,...,18.75755,35.86066,19.10183,33.33333,19.35603,19.07006,19.14908,28.97436,21.75496,38.47167
35706,Austria,AUT,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,25.42334,NaN,26.00037,26.10591,11.76471,...,18.75755,35.86066,19.10183,33.33333,13.15350,14.06318,13.65430,14.29883,21.75496,38.47167
36330,Azerbaijan,AZE,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,25.42334,NaN,26.00037,26.10591,11.76471,...,36.41536,38.35616,37.66667,36.81592,13.15350,14.06318,35.34816,41.11718,46.81107,45.96774
36954,"Bahamas, The",BHS,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,25.42334,NaN,26.00037,26.10591,11.76471,...,36.41536,38.35616,37.66667,36.81592,13.15350,14.06318,35.34816,41.11718,46.81107,45.96774
37578,Bahrain,BHR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,25.42334,NaN,26.00037,69.29134,11.76471,...,36.41536,38.35616,37.66667,36.81592,13.15350,14.06318,48.88889,50.68120,47.76119,47.13805
38202,Bangladesh,BGD,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,25.42334,NaN,13.57285,15.05065,11.76471,...,36.41536,38.35616,37.66667,36.81592,13.15350,14.06318,48.88889,27.76188,27.76188,27.25023
38826,Barbados,BRB,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,25.42334,NaN,13.57285,15.05065,11.76471,...,36.41536,38.35616,40.54054,36.81592,13.15350,14.06318,48.88889,27.76188,27.76188,27.25023
39450,Belarus,BLR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,25.42334,NaN,13.57285,15.05065,11.76471,...,36.41536,38.35616,40.54054,36.81592,13.15350,14.06318,24.20359,22.20681,23.92789,23.03968
40074,Belgium,BEL,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,12.00215,14.21882,11.48240,15.05065,11.76471,...,5.64558,8.74867,8.02810,8.05897,6.79766,7.34463,7.81123,5.63075,9.87884,23.03968
40698,Belize,BLZ,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,12.00215,14.21882,11.48240,15.05065,11.76471,...,5.64558,8.74867,8.02810,8.05897,6.79766,7.34463,19.44444,5.63075,9.87884,23.03968
41322,Benin,BEN,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,12.00215,14.21882,11.48240,15.05065,11.76471,...,5.64558,8.74867,22.79202,8.05897,6.79766,18.51852,55.06884,5.63075,9.87884,23.03968
41946,Bermuda,BMU,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,12.00215,33.33333,11.48240,15.05065,11.76471,...,45.45455,33.33333,40.00000,66.66667,6.79766,18.51852,28.57143,5.63075,9.09091,33.33333
42570,Bhutan,BTN,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,12.00215,33.33333,11.48240,15.05065,11.76471,...,45.45455,33.33333,40.00000,66.66667,6.79766,18.51852,28.57143,5.63075,9.09091,33.33333
43194,Bolivia,BOL,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,12.00215,33.33333,11.48240,15.05065,11.76471,...,45.45455,33.33333,40.00000,66.66667,6.79766,18.51852,28.57143,5.63075,9.09091,33.33333
43818,Bosnia and Herzegovina,BIH,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,12.00215,33.33333,11.48240,15.05065,11.76471,...,45.45455,33.33333,40.00000,66.66667,6.79766,18.51852,27.68000,18.05556,27.04225,28.17824
44442,Botswana,BWA,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,12.00215,33.33333,11.48240,15.05065,11.76471,...,45.45455,33.33333,40.00000,66.66667,6.79766,18.51852,27.68000,18.05556,27.04225,28.17824
45066,Brazil,BRA,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,12.00215,32.10390,28.74314,26.68425,24.18797,...,18.39748,18.25965,16.97174,17.33484,6.79766,15.29114,15.01138,14.62630,14.55104,28.17824
45690,British Virgin Islands,VGB,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.40197,12.00215,32.10390,28.74314,26.68425,24.18797,...,63.63636,18.25965,16.97174,17.33484,6.79766,15.29114,15.01138,14.62630,14.55104,28.17824
46314,Brunei Darussalam,BRN,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,62.96296,71.05263,65.62500,28.74314,72.72727,44.44444,...,58.06452,53.62319,87.50000,54.25532,6.79766,15.29114,44.01806,45.79208,14.55104,41.86047
46938,Bulgaria,BGR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,61.33005,69.51788,60.03236,46.89507,51.21951,51.91313,...,45.00434,40.66952,39.72780,39.04110,41.35021,37.90738,39.03935,40.04616,38.74001,41.86047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145530,Sweden,SWE,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,34.26160,44.74560,40.71534,41.90519,40.16288,35.28148,...,21.92982,18.80492,20.20563,26.06405,25.64412,14.72218,27.84627,28.17433,30.23847,37.64299
146154,Switzerland,CHE,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,14.17937,16.60527,13.80229,14.16208,11.42857,11.58168,...,12.75000,12.33739,9.35738,26.06405,8.24689,10.04098,11.18710,8.86076,9.93166,37.64299
146778,Syrian Arab Republic,SYR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,14.17937,16.60527,13.80229,14.16208,11.42857,11.58168,...,12.75000,12.33739,9.35738,26.06405,8.24689,10.04098,11.18710,57.31293,9.93166,37.64299
147402,Tajikistan,TJK,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,14.17937,16.60527,13.80229,14.16208,11.42857,11.58168,...,12.75000,12.33739,9.35738,26.06405,8.24689,10.04098,11.18710,57.31293,9.93166,37.64299
148026,Tanzania,TZA,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,14.17937,16.60527,13.80229,14.16208,11.42857,11.58168,...,12.75000,12.33739,9.35738,26.06405,8.24689,10.04098,11.18710,57.31293,9.93166,37.64299
148650,Thailand,THA,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,14.17937,16.60527,13.80229,14.16208,11.42857,11.58168,...,12.75000,12.33739,9.35738,26.06405,8.24689,10.04098,50.55515,47.85432,9.93166,37.64299
149274,Timor-Leste,TLS,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,14.17937,16.60527,13.80229,14.16208,11.42857,11.58168,...,12.75000,12.33739,9.35738,26.06405,8.24689,10.04098,50.55515,47.85432,9.93166,37.64299
149898,Togo,TGO,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,14.17937,16.60527,13.80229,14.16208,11.42857,11.58168,...,12.75000,12.33739,9.35738,26.06405,8.24689,10.04098,50.55515,47.85432,9.93166,37.64299
150522,Tonga,TON,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,14.17937,16.60527,13.80229,14.16208,11.42857,11.58168,...,12.75000,12.33739,9.35738,26.06405,8.24689,10.04098,50.55515,47.85432,9.93166,37.64299
151146,Trinidad and Tobago,TTO,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,14.17937,16.60527,13.80229,14.16208,11.42857,11.58168,...,12.75000,12.33739,9.35738,26.06405,8.24689,10.04098,50.55515,47.85432,9.93166,37.64299
151770,Tunisia,TUN,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,14.17937,16.60527,13.80229,14.16208,11.42857,11.58168,...,12.75000,12.33739,9.35738,46.50835,8.24689,10.04098,54.09677,55.46661,9.93166,55.64061
152394,Turkey,TUR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.29260,28.71820,28.04650,30.12178,31.48220,35.96116,...,33.09694,33.15971,33.02768,33.44319,8.24689,34.46043,54.09677,55.46661,9.93166,55.64061
153018,Turkmenistan,TKM,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.29260,28.71820,28.04650,30.12178,31.48220,35.96116,...,33.09694,33.15971,33.02768,33.44319,8.24689,34.46043,54.09677,55.46661,9.93166,55.64061
153642,Turks and Caicos Islands,TCA,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.29260,28.71820,28.04650,30.12178,31.48220,35.96116,...,33.09694,33.15971,33.02768,33.44319,8.24689,34.46043,54.09677,55.46661,9.93166,55.64061
154266,Tuvalu,TUV,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,26.29260,28.71820,28.04650,30.12178,31.48220,35.96116,...,33.09694,33.15971,33.02768,33.44319,8.24689,34.46043,54.09677,55.46661,9.93166,55.64061
154890,Uganda,UGA,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,16.66667,16.66667,28.04650,30.12178,31.48220,30.09709,...,33.09694,33.15971,33.02768,33.44319,8.24689,34.46043,54.09677,55.46661,9.93166,55.64061
155514,Ukraine,UKR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,16.66667,16.66667,28.04650,30.12178,31.48220,30.09709,...,33.09694,33.15971,33.02768,24.13819,8.24689,34.46043,20.77291,19.96523,19.31067,17.46342
156138,United Arab Emirates,ARE,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,16.66667,16.66667,28.04650,30.12178,31.48220,30.09709,...,33.09694,33.15971,53.64742,61.14263,8.24689,34.46043,50.55762,57.78230,55.39084,17.46342
156762,United Kingdom,GBR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,27.28140,24.60701,25.44204,25.75240,25.30157,24.56532,...,19.39414,18.66546,18.74867,18.79531,19.24576,18.80898,19.27337,19.38466,55.39084,17.46342
157386,United States,USA,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,27.28140,24.60701,25.44204,25.75240,25.30157,24.56532,...,19.39414,22.10311,21.63908,21.26469,20.93191,21.00502,22.86417,23.60926,55.39084,17.46342
158010,Uruguay,URY,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,27.28140,24.60701,25.44204,25.75240,25.30157,24.56532,...,25.76923,23.20000,21.63908,21.26469,20.93191,21.00502,22.86417,23.60926,17.65799,17.46342
158634,Uzbekistan,UZB,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,27.28140,24.60701,25.44204,25.75240,25.30157,24.56532,...,25.76923,23.20000,21.63908,21.26469,20.93191,21.00502,22.86417,23.60926,17.65799,17.83377
159258,Vanuatu,VUT,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,27.28140,24.60701,25.44204,25.75240,25.30157,24.56532,...,25.76923,23.20000,21.63908,21.26469,20.93191,21.00502,22.86417,23.60926,17.65799,17.83377
159882,"Venezuela, RB",VEN,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,27.28140,53.54308,25.44204,25.75240,25.30157,24.56532,...,25.76923,23.20000,21.63908,21.26469,20.93191,21.00502,22.86417,23.60926,17.65799,17.83377
160506,Vietnam,VNM,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,27.28140,53.54308,25.44204,25.75240,25.30157,24.56532,...,25.76923,23.20000,21.63908,21.26469,20.93191,21.00502,48.22154,26.43116,17.65799,17.83377
161130,Virgin Islands (U.S.),VIR,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,27.28140,53.54308,25.44204,25.75240,25.30157,24.56532,...,25.76923,23.20000,21.63908,21.26469,20.93191,21.00502,48.22154,26.43116,17.65799,17.83377
161754,West Bank and Gaza,PSE,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,47.55556,52.28519,52.67974,25.75240,46.79089,53.71179,...,43.39414,46.62857,45.95032,48.27586,20.93191,21.00502,49.19691,49.95206,48.29083,45.60738
162378,"Yemen, Rep.",YEM,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,47.55556,52.28519,52.67974,25.75240,46.79089,53.71179,...,43.39414,46.62857,45.95032,48.27586,20.93191,21.00502,49.19691,49.95206,48.29083,45.60738
163002,Zambia,ZMB,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,47.55556,52.28519,52.67974,25.75240,46.79089,53.71179,...,43.39414,46.62857,45.95032,48.27586,20.93191,21.00502,49.19691,49.95206,48.29083,45.60738
163626,Zimbabwe,ZWE,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,47.55556,52.28519,52.67974,25.75240,46.79089,53.71179,...,43.39414,47.12154,33.35890,31.92593,20.93191,21.00502,46.11547,49.95206,48.29083,45.60738

In [26]:
stem.isna().sum()

Country Name       0
Country Code       0
Indicator Name     0
Indicator Code     0
1999              10
2000               1
2001              18
2002               4
2003               1
2004               4
2005               4
2006               4
2007               2
2008               4
2009               2
2010               2
2011               1
2012               4
2013              10
2014              10
2015               1
2016               1
2017               1
2018               1
dtype: int64

In [27]:
stem.reset_index(inplace = True, drop = True)

In [28]:
stem.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1999,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,AFG,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,ALB,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,45.45455,NaN,NaN,67.85714,NaN,...,NaN,NaN,46.09375,NaN,NaN,NaN,49.20728,46.77419,46.48218,43.70690
2,Algeria,DZA,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,45.45455,NaN,NaN,67.85714,NaN,...,47.20217,48.80532,47.97473,NaN,NaN,NaN,51.76786,54.27659,46.48218,48.93372
3,American Samoa,ASM,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,45.45455,NaN,NaN,67.85714,NaN,...,47.20217,48.80532,47.97473,NaN,NaN,NaN,51.76786,54.27659,46.48218,48.93372
4,Andorra,AND,Female share of graduates in Information and C...,UIS.FGP.5T8.F600,NaN,45.45455,NaN,30.0,23.52941,11.76471,...,47.20217,48.80532,47.97473,33.33333,NaN,NaN,51.76786,100.00000,100.00000,0.00000

In [44]:
stem.to_csv('data/stem_female.csv', index = False)

## Migrant

In [363]:
migrant = df.copy()
df[df['Indicator Name'] == 'Female migrants (% of international migrant stock)']

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
126,Arab World,ARB,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,43.846216,NaN,NaN,NaN,45.121819,NaN,NaN
750,Caribbean small states,CSS,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,49.436969,NaN,NaN,NaN,49.377322,NaN,NaN
1374,Central Europe and the Baltics,CEB,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,52.504563,NaN,NaN,NaN,51.309205,NaN,NaN
1998,Early-demographic dividend,EAR,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,47.440289,NaN,NaN,NaN,47.694573,NaN,NaN
2622,East Asia & Pacific,EAS,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,41.519247,NaN,NaN,NaN,41.444771,NaN,NaN
3246,East Asia & Pacific (excluding high income),EAP,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,40.469554,NaN,NaN,NaN,40.484951,NaN,NaN
3870,East Asia & Pacific (IDA & IBRD),TEA,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,40.342226,NaN,NaN,NaN,40.359001,NaN,NaN
4494,Euro area,EMU,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,52.058391,NaN,NaN,NaN,51.187313,NaN,NaN
5118,Europe & Central Asia,ECS,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,51.755913,NaN,NaN,NaN,51.207344,NaN,NaN
5742,Europe & Central Asia (excluding high income),ECA,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,51.375349,NaN,NaN,NaN,51.199640,NaN,NaN
6366,Europe & Central Asia (IDA & IBRD),TEC,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,51.797139,NaN,NaN,NaN,51.393152,NaN,NaN
6990,European Union,EUU,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,52.084225,NaN,NaN,NaN,51.129818,NaN,NaN
7614,Fragile and conflict affected situations,FCS,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,47.506165,NaN,NaN,NaN,47.664160,NaN,NaN
8238,Heavily indebted poor countries (HIPC),HPC,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,49.261321,NaN,NaN,NaN,49.447573,NaN,NaN
8862,High income,HIC,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,50.867295,NaN,NaN,NaN,50.428774,NaN,NaN
9486,IBRD only,IBD,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,45.061180,NaN,NaN,NaN,45.181218,NaN,NaN
10110,IDA & IBRD total,IBT,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,45.915805,NaN,NaN,NaN,46.100541,NaN,NaN
10734,IDA blend,IDB,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,47.088930,NaN,NaN,NaN,47.055862,NaN,NaN
11358,IDA only,IDX,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,49.186743,NaN,NaN,NaN,49.555285,NaN,NaN
11982,IDA total,IDA,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,48.490008,NaN,NaN,NaN,48.724635,NaN,NaN
12606,Late-demographic dividend,LTE,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,42.409509,NaN,NaN,NaN,42.396694,NaN,NaN
13230,Latin America & Caribbean,LCN,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,48.116639,NaN,NaN,NaN,48.563857,NaN,NaN
13854,Latin America & Caribbean (excluding high income),LAC,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,47.879853,NaN,NaN,NaN,48.351682,NaN,NaN
14478,Latin America & Caribbean (IDA & IBRD),TLA,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,47.915620,NaN,NaN,NaN,48.377872,NaN,NaN
15102,Least developed countries: UN classification,LDC,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,49.344320,NaN,NaN,NaN,49.658396,NaN,NaN
15726,Low & middle income,LMY,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,45.842457,NaN,NaN,NaN,46.051227,NaN,NaN
16350,Low income,LIC,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,49.577326,NaN,NaN,NaN,49.783730,NaN,NaN
16974,Lower middle income,LMC,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,48.116766,NaN,NaN,NaN,48.316328,NaN,NaN
17598,Middle East & North Africa,MEA,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,43.975927,NaN,NaN,NaN,45.065849,NaN,NaN
18222,Middle East & North Africa (excluding high inc...,MNA,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,45.455949,NaN,NaN,NaN,46.656678,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145518,Sweden,SWE,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,50.602829,NaN,NaN,NaN,49.704221,NaN,NaN
146142,Switzerland,CHE,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,51.032696,NaN,NaN,NaN,50.803704,NaN,NaN
146766,Syrian Arab Republic,SYR,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,48.913765,NaN,NaN,NaN,48.757156,NaN,NaN
147390,Tajikistan,TJK,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,56.874384,NaN,NaN,NaN,56.869935,NaN,NaN
148014,Tanzania,TZA,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,50.433345,NaN,NaN,NaN,50.620426,NaN,NaN
148638,Thailand,THA,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,49.772725,NaN,NaN,NaN,49.780954,NaN,NaN
149262,Timor-Leste,TLS,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,39.577465,NaN,NaN,NaN,39.574670,NaN,NaN
149886,Togo,TGO,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,49.694287,NaN,NaN,NaN,49.385617,NaN,NaN
150510,Tonga,TON,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,45.422357,NaN,NaN,NaN,45.415778,NaN,NaN
151134,Trinidad and Tobago,TTO,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,51.092541,NaN,NaN,NaN,50.861618,NaN,NaN
151758,Tunisia,TUN,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,48.254086,NaN,NaN,NaN,48.230789,NaN,NaN
152382,Turkey,TUR,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,45.005576,NaN,NaN,NaN,44.558332,NaN,NaN
153006,Turkmenistan,TKM,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,53.389925,NaN,NaN,NaN,52.728223,NaN,NaN
153630,Turks and Caicos Islands,TCA,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,48.259166,NaN,NaN,NaN,48.255482,NaN,NaN
154254,Tuvalu,TUV,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,45.217391,NaN,NaN,NaN,44.957983,NaN,NaN
154878,Uganda,UGA,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,51.144594,NaN,NaN,NaN,51.756637,NaN,NaN
155502,Ukraine,UKR,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,56.991599,NaN,NaN,NaN,56.991580,NaN,NaN
156126,United Arab Emirates,ARE,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,26.327990,NaN,NaN,NaN,26.332463,NaN,NaN
156750,United Kingdom,GBR,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,52.163847,NaN,NaN,NaN,52.031583,NaN,NaN
157374,United States,USA,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,51.333708,NaN,NaN,NaN,51.662403,NaN,NaN
157998,Uruguay,URY,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,54.768462,NaN,NaN,NaN,54.605925,NaN,NaN
158622,Uzbekistan,UZB,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,53.391956,NaN,NaN,NaN,53.350268,NaN,NaN
159246,Vanuatu,VUT,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,50.329463,NaN,NaN,NaN,50.323575,NaN,NaN
159870,"Venezuela, RB",VEN,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,49.912136,NaN,NaN,NaN,50.135932,NaN,NaN
160494,Vietnam,VNM,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,42.071353,NaN,NaN,NaN,42.070062,NaN,NaN
161118,Virgin Islands (U.S.),VIR,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,52.878123,NaN,NaN,NaN,52.876905,NaN,NaN
161742,West Bank and Gaza,PSE,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,55.681449,NaN,NaN,NaN,55.681321,NaN,NaN
162366,"Yemen, Rep.",YEM,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,47.512649,NaN,NaN,NaN,47.510554,NaN,NaN
162990,Zambia,ZMB,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,49.547715,NaN,NaN,NaN,49.428190,NaN,NaN
163614,Zimbabwe,ZWE,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,43.654646,NaN,NaN,NaN,43.185891,NaN,NaN

In [364]:
migrant = migrant[migrant['Indicator Code']=='SG.POP.MIGR.FE.ZS']
migrant.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
126,Arab World,ARB,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,43.846216,NaN,NaN,NaN,45.121819,NaN,NaN
750,Caribbean small states,CSS,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,49.436969,NaN,NaN,NaN,49.377322,NaN,NaN
1374,Central Europe and the Baltics,CEB,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,52.504563,NaN,NaN,NaN,51.309205,NaN,NaN
1998,Early-demographic dividend,EAR,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,47.440289,NaN,NaN,NaN,47.694573,NaN,NaN
2622,East Asia & Pacific,EAS,Female migrants (% of international migrant st...,SG.POP.MIGR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,41.519247,NaN,NaN,NaN,41.444771,NaN,NaN

In [365]:
migrant.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 65'],
      dtype='object')

In [366]:
migrant.drop(['Unnamed: 65', 'Country Code', 'Indicator Name', 'Indicator Code'], inplace = True, axis =1)

In [367]:
migrant.head()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
126,Arab World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,43.846216,NaN,NaN,NaN,45.121819,NaN
750,Caribbean small states,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,49.436969,NaN,NaN,NaN,49.377322,NaN
1374,Central Europe and the Baltics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,52.504563,NaN,NaN,NaN,51.309205,NaN
1998,Early-demographic dividend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,47.440289,NaN,NaN,NaN,47.694573,NaN
2622,East Asia & Pacific,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,41.519247,NaN,NaN,NaN,41.444771,NaN

In [368]:
migrant.isna().sum()

Country Name      0
1960            263
1961            263
1962            263
1963            263
1964            263
1965            263
1966            263
1967            263
1968            263
1969            263
1970            263
1971            263
1972            263
1973            263
1974            263
1975            263
1976            263
1977            263
1978            263
1979            263
1980            263
1981            263
1982            263
1983            263
1984            263
1985            263
1986            263
1987            263
1988            263
               ...
1991            263
1992            263
1993            263
1994            263
1995              6
1996            263
1997            263
1998            263
1999            263
2000              6
2001            263
2002            263
2003            263
2004            263
2005              5
2006            263
2007            263
2008            263
2009            263
2010              2
2011            263
2012            263
2013            263
2014            263
2015              2
2016            263
2017            263
2018            263
2019              2
2020            263
Length: 62, dtype: int64

In [369]:
migrant.columns

Index(['Country Name', '1960', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020'],
      dtype='object')

In [370]:
cols = ['Country Name','1995', '2000', '2005', '2010', '2019'];

In [371]:
migrant[cols].isna().sum()

Country Name    0
1995            6
2000            6
2005            5
2010            2
2019            2
dtype: int64

In [372]:
migrant = migrant[cols]

In [373]:
# migrant = migrant.fillna(method = 'ffill', axis = 0)
migrant

,Country Name,1995,2000,2005,2010,2019
126,Arab World,45.483836,45.367257,43.361847,43.900821,45.121819
750,Caribbean small states,50.422534,50.152492,50.080886,49.590034,49.377322
1374,Central Europe and the Baltics,55.355972,55.114699,54.362186,53.895667,51.309205
1998,Early-demographic dividend,48.020458,47.992983,47.578735,47.672655,47.694573
2622,East Asia & Pacific,48.963828,49.159132,44.923797,42.804523,41.444771
3246,East Asia & Pacific (excluding high income),49.011340,49.058127,44.251793,41.809343,40.484951
3870,East Asia & Pacific (IDA & IBRD),48.997677,49.032279,44.165308,41.694198,40.359001
4494,Euro area,50.647274,51.117725,51.062589,51.424931,51.187313
5118,Europe & Central Asia,52.232010,52.348771,52.315734,52.431162,51.207344
5742,Europe & Central Asia (excluding high income),52.980667,52.887648,53.073051,53.310038,51.199640
6366,Europe & Central Asia (IDA & IBRD),53.552625,53.429237,53.513253,53.685394,51.393152
6990,European Union,51.764543,52.029629,51.787564,51.905086,51.129818
7614,Fragile and conflict affected situations,46.527142,46.713561,45.955021,46.016964,47.664160
8238,Heavily indebted poor countries (HIPC),48.375582,48.282428,47.784746,48.678975,49.447573
8862,High income,50.412321,50.683920,50.571826,50.808673,50.428774
9486,IBRD only,48.911549,48.950614,46.777300,45.753753,45.181218
10110,IDA & IBRD total,48.702323,48.721598,46.871633,46.249220,46.100541
10734,IDA blend,46.495885,46.570312,45.224243,45.756262,47.055862
11358,IDA only,48.572229,48.528962,48.179771,48.868766,49.555285
11982,IDA total,47.880947,47.876419,47.197749,47.839559,48.724635
12606,Late-demographic dividend,49.402911,49.512129,45.738633,43.564668,42.396694
13230,Latin America & Caribbean,48.938679,48.972331,48.783136,48.378833,48.563857
13854,Latin America & Caribbean (excluding high income),48.792438,48.790239,48.585282,48.159974,48.351682
14478,Latin America & Caribbean (IDA & IBRD),48.832699,48.786439,48.601033,48.185407,48.377872
15102,Least developed countries: UN classification,48.444830,48.475655,48.161089,49.005020,49.658396
15726,Low & middle income,48.586430,48.627058,46.772778,46.156208,46.051227
16350,Low income,48.399640,48.551096,48.920040,49.082504,49.783730
16974,Lower middle income,48.021133,48.098611,47.438968,47.927651,48.316328
17598,Middle East & North Africa,44.416632,44.129095,43.302207,43.352646,45.065849
18222,Middle East & North Africa (excluding high inc...,45.291329,45.047227,44.339910,44.713626,46.656678
...,...,...,...,...,...,...
145518,Sweden,51.823248,52.160594,52.167811,51.399458,49.704221
146142,Switzerland,47.996489,46.404470,48.910596,51.552153,50.803704
146766,Syrian Arab Republic,49.059727,48.739634,48.715257,48.924596,48.757156
147390,Tajikistan,56.395778,56.042257,56.713826,56.477299,56.869935
148014,Tanzania,50.536372,49.261163,36.850015,50.107311,50.620426
148638,Thailand,47.353406,48.503960,49.794656,49.606421,49.780954
149262,Timor-Leste,51.113620,51.943030,50.575935,49.419411,39.574670
149886,Togo,50.063495,49.907225,49.433020,49.355749,49.385617
150510,Tonga,47.525962,46.226927,45.966054,45.699392,45.415778
151134,Trinidad and Tobago,53.683089,53.804517,53.925288,51.992701,50.861618
151758,Tunisia,49.705548,49.129878,48.630137,48.494395,48.230789
152382,Turkey,51.163362,51.910633,53.083603,54.210356,44.558332
153006,Turkmenistan,51.703617,53.069152,52.493511,54.220397,52.728223
153630,Turks and Caicos Islands,48.245489,48.252912,48.250095,48.263243,48.255482
154254,Tuvalu,43.726236,44.495413,44.976077,45.000000,44.957983
154878,Uganda,49.211268,50.219244,50.762504,50.925486,51.756637
155502,Ukraine,57.150030,57.149869,57.070686,56.991612,56.991580
156126,United Arab Emirates,28.191707,28.189913,27.210750,25.329066,26.332463
156750,United Kingdom,52.380951,52.884773,52.445109,51.480070,52.031583
157374,United States,50.679650,50.276444,50.036345,50.899999,51.662403
157998,Uruguay,53.518217,53.760380,54.252463,54.739656,54.605925
158622,Uzbekistan,56.531800,56.902676,55.660139,54.236819,53.350268
159246,Vanuatu,47.379114,49.733435,50.071429,50.284186,50.323575
159870,"Venezuela, RB",49.659312,49.821157,50.003716,49.807956,50.135932
160494,Vietnam,45.013850,42.162667,39.912687,41.753028,42.070062
161118,Virgin Islands (U.S.),52.508250,52.783028,52.820096,52.857949,52.876905
161742,West Bank and Gaza,54.455987,54.740518,55.133769,55.552800,55.681321
162366,"Yemen, Rep.",42.986485,44.450117,42.469061,45.864685,47.510554
162990,Zambia,48.706710,49.050779,49.137784,49.359838,49.428190
163614,Zimbabwe,42.950332,42.971015,43.003684,42.958321,43.185891

These countries can be classified by world bank regions
- EAP (East Asia and Pacific)
- ECA (Europe and Central Asia)
- LAC (Latin America and Caribbean)
- MENA (Middle East and North Africa)
- North America 
- SAR (South Asia Region)
- AFR (Africa)

https://ourworldindata.org/grapher/world-regions-according-to-the-world-bank

In [374]:
regions = ['Latin America & Caribbean', 'South Asia', 'Sub-Saharan Africa',
       'Europe & Central Asia', 'Middle East & North Africa',
       'East Asia & Pacific', 'North America']
migrant_region = migrant[migrant['Country Name'].isin(regions)]

In [375]:
migrant_region.reset_index(inplace = True, drop = True)

We need to gather necessary data and build our desired dataframe.

In [376]:
migrant_region.head()

,Country Name,1995,2000,2005,2010,2019
0,East Asia & Pacific,48.963828,49.159132,44.923797,42.804523,41.444771
1,Europe & Central Asia,52.232010,52.348771,52.315734,52.431162,51.207344
2,Latin America & Caribbean,48.938679,48.972331,48.783136,48.378833,48.563857
3,Middle East & North Africa,44.416632,44.129095,43.302207,43.352646,45.065849
4,North America,50.767140,50.420904,50.232079,51.021421,51.741974

In [377]:
migrant_region.to_csv('data/female_migrant_region.csv', index = False)

In [378]:
income = pd.read_csv('data/Region.csv')
income.head()
income['Region'].unique()

array(['Latin America & Caribbean', 'South Asia', 'Sub-Saharan Africa',
       'Europe & Central Asia', nan, 'Middle East & North Africa',
       'East Asia & Pacific', 'North America'], dtype=object)

In [379]:
income.rename(columns = {'TableName':'Country Name'}, inplace = True)

In [380]:
migrant_income = migrant.merge(region[['Country Name', 'IncomeGroup']], how='left', on='Country Name')

In [381]:
migrant_income

,Country Name,1995,2000,2005,2010,2019,IncomeGroup
0,Arab World,45.483836,45.367257,43.361847,43.900821,45.121819,NaN
1,Caribbean small states,50.422534,50.152492,50.080886,49.590034,49.377322,NaN
2,Central Europe and the Baltics,55.355972,55.114699,54.362186,53.895667,51.309205,NaN
3,Early-demographic dividend,48.020458,47.992983,47.578735,47.672655,47.694573,NaN
4,East Asia & Pacific,48.963828,49.159132,44.923797,42.804523,41.444771,NaN
5,East Asia & Pacific (excluding high income),49.011340,49.058127,44.251793,41.809343,40.484951,NaN
6,East Asia & Pacific (IDA & IBRD),48.997677,49.032279,44.165308,41.694198,40.359001,NaN
7,Euro area,50.647274,51.117725,51.062589,51.424931,51.187313,NaN
8,Europe & Central Asia,52.232010,52.348771,52.315734,52.431162,51.207344,NaN
9,Europe & Central Asia (excluding high income),52.980667,52.887648,53.073051,53.310038,51.199640,NaN
10,Europe & Central Asia (IDA & IBRD),53.552625,53.429237,53.513253,53.685394,51.393152,NaN
11,European Union,51.764543,52.029629,51.787564,51.905086,51.129818,NaN
12,Fragile and conflict affected situations,46.527142,46.713561,45.955021,46.016964,47.664160,NaN
13,Heavily indebted poor countries (HIPC),48.375582,48.282428,47.784746,48.678975,49.447573,NaN
14,High income,50.412321,50.683920,50.571826,50.808673,50.428774,NaN
15,IBRD only,48.911549,48.950614,46.777300,45.753753,45.181218,NaN
16,IDA & IBRD total,48.702323,48.721598,46.871633,46.249220,46.100541,NaN
17,IDA blend,46.495885,46.570312,45.224243,45.756262,47.055862,NaN
18,IDA only,48.572229,48.528962,48.179771,48.868766,49.555285,NaN
19,IDA total,47.880947,47.876419,47.197749,47.839559,48.724635,NaN
20,Late-demographic dividend,49.402911,49.512129,45.738633,43.564668,42.396694,NaN
21,Latin America & Caribbean,48.938679,48.972331,48.783136,48.378833,48.563857,NaN
22,Latin America & Caribbean (excluding high income),48.792438,48.790239,48.585282,48.159974,48.351682,NaN
23,Latin America & Caribbean (IDA & IBRD),48.832699,48.786439,48.601033,48.185407,48.377872,NaN
24,Least developed countries: UN classification,48.444830,48.475655,48.161089,49.005020,49.658396,NaN
25,Low & middle income,48.586430,48.627058,46.772778,46.156208,46.051227,NaN
26,Low income,48.399640,48.551096,48.920040,49.082504,49.783730,NaN
27,Lower middle income,48.021133,48.098611,47.438968,47.927651,48.316328,NaN
28,Middle East & North Africa,44.416632,44.129095,43.302207,43.352646,45.065849,NaN
29,Middle East & North Africa (excluding high inc...,45.291329,45.047227,44.339910,44.713626,46.656678,NaN
...,...,...,...,...,...,...,...
233,Sweden,51.823248,52.160594,52.167811,51.399458,49.704221,High income
234,Switzerland,47.996489,46.404470,48.910596,51.552153,50.803704,High income
235,Syrian Arab Republic,49.059727,48.739634,48.715257,48.924596,48.757156,Low income
236,Tajikistan,56.395778,56.042257,56.713826,56.477299,56.869935,Low income
237,Tanzania,50.536372,49.261163,36.850015,50.107311,50.620426,Lower middle income
238,Thailand,47.353406,48.503960,49.794656,49.606421,49.780954,Upper middle income
239,Timor-Leste,51.113620,51.943030,50.575935,49.419411,39.574670,Lower middle income
240,Togo,50.063495,49.907225,49.433020,49.355749,49.385617,Low income
241,Tonga,47.525962,46.226927,45.966054,45.699392,45.415778,Upper middle income
242,Trinidad and Tobago,53.683089,53.804517,53.925288,51.992701,50.861618,High income
243,Tunisia,49.705548,49.129878,48.630137,48.494395,48.230789,Lower middle income
244,Turkey,51.163362,51.910633,53.083603,54.210356,44.558332,Upper middle income
245,Turkmenistan,51.703617,53.069152,52.493511,54.220397,52.728223,Upper middle income
246,Turks and Caicos Islands,48.245489,48.252912,48.250095,48.263243,48.255482,High income
247,Tuvalu,43.726236,44.495413,44.976077,45.000000,44.957983,Upper middle income
248,Uganda,49.211268,50.219244,50.762504,50.925486,51.756637,Low income
249,Ukraine,57.150030,57.149869,57.070686,56.991612,56.991580,Lower middle income
250,United Arab Emirates,28.191707,28.189913,27.210750,25.329066,26.332463,High income
251,United Kingdom,52.380951,52.884773,52.445109,51.480070,52.031583,High income
252,United States,50.679650,50.276444,50.036345,50.899999,51.662403,High income
253,Uruguay,53.518217,53.760380,54.252463,54.739656,54.605925,High income
254,Uzbekistan,56.531800,56.902676,55.660139,54.236819,53.350268,Lower middle income
255,Vanuatu,47.379114,49.733435,50.071429,50.284186,50.323575,Lower middle income
256,"Venezuela, RB",49.659312,49.821157,50.003716,49.807956,50.135932,Upper middle income
257,Vietnam,45.013850,42.162667,39.912687,41.753028,42.070062,Lower middle income
258,Virgin Islands (U.S.),52.508250,52.783028,52.820096,52.857949,52.876905,High income
259,West Bank and Gaza,54.455987,54.740518,55.133769,55.552800,55.681321,Lower middle income
260,"Yemen, Rep.",42.986485,44.450117,42.469061,45.864685,47.510554,Low income
261,Zambia,48.706710,49.050779,49.137784,49.359838,49.428190,Lower middle income
262,Zimbabwe,42.950332,42.971015,43.003684,42.958321,43.185891,Lower middle income

In [383]:
migrant_income = migrant_income[~migrant_income['Country Name'].isin(exclude_countries)]
migrant_income.reset_index(inplace = True, drop = True)

In [387]:
migrant_income.head()
migrant_income.drop('Country Name', inplace = True, axis = 1)

C:\Users\kored\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [388]:
migrant_income.to_csv('data/female_migrant_income.csv', index = False)